@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    /* height: 100vh; */
    place-content: center;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
}
.page{
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    width: 1440px;
}
header{
    display: grid;
    justify-items: center;
    text-align: center;
    width: 45%;
    margin: 0 auto;
}
.page img{
    padding-bottom: 3rem;
    padding-top: 7rem;
}
h1{
    color: hsl(210, 10%, 33%);
    font-size: 2.6rem;
    padding-bottom: 1rem;
    font-weight: 600;
}
h2{
    font-size: 1.2rem;
    color: hsl(201, 11%, 66%);
    font-weight: 400;
    padding-bottom: 3rem;
}
h3{
    font-size: 2rem;
    color: hsl(210, 10%, 33%);
    font-weight: 600;
    padding-bottom: 1rem;
}
h4{
    font-size: 1.05rem;
    color: hsl(201, 11%, 66%);
    font-weight: 400;
}
.buttons{
    display: flex;
    gap: 1rem;
    padding-bottom: 8rem;
}
button{
    border-radius: 1.7rem;
    font-family: 'Bai Jamjuree', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    padding-left: 1rem;
    padding-right: 1rem;
}
button:nth-of-type(1){
    border: 17px solid hsl(171, 66%, 44%);
    background-color: hsl(171, 66%, 44%);
}
button:nth-of-type(2){
    border: 17px solid hsl(233, 100%, 69%);
    background-color: hsl(233, 100%, 69%);
}