@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    place-content: center;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
}

/* ------------------------------------HEADER------------------------------------ */

header{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.item:nth-of-type(2){
    text-align: center;
    padding-top: 7rem;
}
h1{
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size: clamp(2rem, 3vw, 3rem);
    color: hsl(210, 10%, 33%);
    font-weight: 600;
}
h2{
    font-size: clamp(1.02rem, 3vw, 1.3rem);
    color: hsl(201, 11%, 66%);
    font-weight: 400;
    line-height: 1.7rem;
}
h1.add{
    font-size: clamp(1.8rem, 3vw, 2.2rem);
    padding-top: 10rem;
}
h2.add{
    font-size: clamp(1.02rem, 3vw, 1.2rem);
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 3rem;
}
.buttons button:nth-of-type(1){
    border: 1px solid hsl(171, 66%, 44%);
    background-color: hsl(171, 66%, 44%);
    color: #fff;
    border-radius: 2rem;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 -2px inset hsl(171, 66%, 35%), 0 15px 15px hsl(171, 100%, 90%);
}
.buttons button:nth-of-type(2){
    border: 1px solid hsl(233, 100%, 69%);
    background-color: hsl(233, 100%, 69%);
    color: #fff;
    border-radius: 2rem;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 -2px inset hsl(233, 64%, 59%), 0 15px 15px hsl(234, 85%, 89%);
}
.buttons button:nth-of-type(1):hover{
    opacity: 70%;
}
.buttons button:nth-of-type(2):hover{
    opacity: 70%;
}

/* ----------------------------------------------------CONTENT-1--------------------------------------------- */
.cont-1{
    display: flex;
    align-content: center;
    padding-top: 6rem;
    gap: 6rem;
}
.cont-1-text-item h1{
    font-size: clamp(1.5rem, 3vw, 1.5rem);
}
.cont-1-text-item h2{
    font-size: clamp(1rem, 3vw, 1rem);
}
.cont-1-text{
    width: 25%;
}
.cont-1-picture img{
    margin-left: -2rem;
    width: 100%;
    height: auto;
}

/* ----------------------------------------------------CONTENT-2--------------------------------------------- */

.cont-2-text{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.cont-2-text .item h1{
    padding-top: 2rem;
}
.cont-2-picture{
    margin: 0 auto;
    padding-top: 6rem;
    width: fit-content;
}
.cont-2-picture img{
    width: 100%;
    height: auto;
}

/* ----------------------------------------------------CONTENT-3--------------------------------------------- */

.cont-3-text{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.cont-3-text .item h1{
    padding-top: 5rem;
}
.cont-3-text .item:nth-of-type(2){
    text-align: center;
    padding-top: 0rem;
}

/* ----------------------------------------------------CONTENT-4--------------------------------------------- */

.cont-4{
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 1fr 0.3fr;
    padding-top: 5rem;
    gap: 3rem;
}
.card{
    text-align: center;
}
.cont-4 .card h1{
    font-size: clamp(1.5rem, 3vw, 1.5rem);
}
.cont-4 .card h2{
    font-size: clamp(1rem, 3vw, 1rem);
}
.card img{
    height: 35px;
}

/* ----------------------------------------------------CONTENT-5--------------------------------------------- */

.cont-5{
    display: grid;
    justify-items: center;
    padding-top: 11rem;
    padding-bottom: 5rem;
    grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 1fr 0.3fr;
 }

 /* ----------------------------------------------------CONTENT-6--------------------------------------------- */

 .cont-6{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding-top: 5rem;
    padding-bottom: 10rem;
 }
 .cont-6 h1{
    padding-top: 0;
    font-size: clamp(1.7rem, 3vw, 2.3rem);
 }
 .cont-6 .item{
    padding: 0;
 }
 .cont-6 h2{
    line-height: 2rem;
    font-size: clamp(1.02rem, 3vw, 1rem);
 }

/* ----------------------------------------------------FOOTER--------------------------------------------- */

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 4fr 2fr 1fr 0.5fr;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: hsl(0, 0%, 94%);
}
.ft:nth-of-type(4){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 1rem;
    align-items: center; 
}
.ft img{
    width: 60px;
}
.ft:nth-of-type(6){
    display: flex;
    align-items: center;
    color: hsl(210, 10%, 33%);
    gap: 1.5rem;
}
.nav h2{
    color: hsl(210, 10%, 33%);
}
.nav a, a:visited{
    text-decoration: none;
    color: hsl(210, 10%, 33%)
}
.nav a:hover{
    color: hsl(171, 69%, 45%);
}
.soc a:hover{
    color: hsl(171, 69%, 45%);
}









@media(max-width:1144px){
    /* ---------------------------------------------HEADER------------------------------------------ */
    header{
        grid-template-columns: 0.2fr 2fr 0.2fr;
        background-image: url(images/bg-header-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .buttons{
        display: grid;
        gap: 1.5rem;
        justify-content: stretch;
    }
    /* ---------------------------------------------CONTENT-1--------------------------------------------- */
    .cont-1{
        display: grid;
        justify-content: center;
        gap: 0;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .cont-1-picture img{
        margin-left: 0;
    }
    .cont-1-text{
        display: grid;
        justify-self: center;
        text-align: center;
        width: fit-content;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }

    /* ---------------------------------------------CONTENT-2--------------------------------------------- */

    .cont-2-picture{
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 4rem;
    }
    .cont-2-text{
        grid-template-columns: 0.2fr 2fr 0.2fr;
    }
    .cont-2-text .item h1{
        padding-top: 6rem;
    }

    /* ---------------------------------------------CONTENT-3--------------------------------------------- */

    .cont-3-text{
        grid-template-columns: 0.2fr 2fr 0.2fr;
    }

     /* ---------------------------------------------CONTENT-4--------------------------------------------- */

     .cont-4{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 1fr 1fr 1fr 0fr;
        padding-left: 2rem;
        padding-right: 2rem;
        gap: 3rem;
        padding-top: 3rem;
     }

     /* ---------------------------------------------CONTENT-5--------------------------------------------- */

     .cont-5{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 1fr 1fr 1fr 1fr 1fr 0fr;
        padding-top: 0rem;
        gap: 3rem;
     }
     .prom img{
        height: 40px;
     }
     .prom img.ms{
        height: 28px;
     }
     .prom img.vg{
        height: 23px;
     }

     /* ---------------------------------------------CONTENT-6--------------------------------------------- */

     .cont-6{
        grid-template-columns: 0.2fr 2fr 0.2fr;
        padding-top: 1rem;
     }
     .cont-6 h2{
        line-height: 1.7rem;
     }

     /* ---------------------------------------------FOOTER--------------------------------------------- */

     footer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 0.4fr 0fr 1fr 0fr 0.3fr 0fr;
        text-align: center;
        height: min-content;
     }
     .ft:nth-of-type(4){
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        display: grid;
        justify-items: center;
        row-gap: 1.2rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 0fr;
        grid-template-areas: 
        'faq'
        'contact'
        'privacy'
        'press'
        'install';
     }
     .nav:nth-of-type(1){
        grid-area: faq;
    }
    .nav:nth-of-type(2){
        grid-area: privacy;
    }
    .nav:nth-of-type(3){
        grid-area: install;
    }
    .nav:nth-of-type(4){
        grid-area: contact;
    }
    .nav:nth-of-type(5){
        grid-area: press;
    }
     .ft:nth-of-type(2){
        display: grid;
        align-items: top;
        justify-self: center;
     }
     .ft:nth-of-type(6){
        justify-content: center;
        gap: 2rem;
     }
}
